# How to create a dataframe from another object?

In [1]:
import pandas as pd

In [9]:
# here we will create a dataframe using dictionaty

pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['id','color' ] )

# we can change here the order of the columns. to do this we added column argument. 
# first argument is data and second is columns

    id color
0  100   red
1  101  blue
2  102   red

In [13]:
# if we dont mention it by default uses 0,1,2 indexes. 

# if you want

df = pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['id','color'], index = ['a','b','c'] )

In [14]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [15]:
# second way is using lists
# in dictionaries a key becomes a column and the values are in rows. 
# but in lists every list is a row

pd.DataFrame( [[100,'red'], [101, 'blue'], [102, 'red']])  # this is a list of lists. 
                                                       
# by defauşt it uses numbers as index and column names

     0     1
0  100   red
1  101  blue
2  102   red

### using a list

In [34]:
pd.DataFrame( [[100,'red'], [101, 'blue'], [102, 'red']], columns=['id','color'])  # specified column names

    id color
0  100   red
1  101  blue
2  102   red

### using a numpy array

In [17]:
# if you have a numpy array (to make a data frame):

import numpy as np

In [18]:
arr = np.random.rand(4,2)  # it creates a 4x2 array filled with random numbers

In [19]:
arr

array([[0.19531115, 0.36979313],
       [0.22675669, 0.06439341],
       [0.41729469, 0.83041556],
       [0.35376675, 0.20510461]])

In [21]:
pd.DataFrame(arr, columns=['one','two'])    # we created a data frame using numpy array

        one       two
0  0.195311  0.369793
1  0.226757  0.064393
2  0.417295  0.830416
3  0.353767  0.205105

In [33]:
# lets create a bigger data frame

pd.DataFrame({'student':np.arange(100,110,1), 'test':np.random.randint(60,101,10)}).set_index('student')

# np.arange() => from 100 to 110(ex), 1 by 1

# np.random.rand() => random numbers between 60-101(ex) and 10 them (not 10 by 10) 

# we wanted the column student be index

         test
student
100        90
101        90
102        76
103        87
104        86
105        67
106        96
107        65
108        72
109        66

In [36]:
# create a pandas series and concat it to our dataframe df

s = pd.Series(['round','square'], index=['c','b'], name = 'shape')

In [37]:
s    # we created it

c     round
b    square
Name: shape, dtype: object

In [38]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [41]:
pd.concat([df,s], axis=1)   # we have alined these two objects. notice the indexes. and the name of the column

/Users/Latif/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round